<footer class="footer">
    <div class="container">
        <div class="footer-content">
            <div class="footer-text">
                &copy; 2025 QuestCord Made with love by
                <a href="https://discord.com/users/378501056008683530" target="_blank" rel="noopener noreferrer" class="footer-link">CUB</a>
                and Scarlett
            </div>
        </div>
    </div>
</footer>
